<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stroblhofwarte.Config.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Stroblhofwarte.Config.Settings>
            <setting name="AstrometrynetHost" serializeAs="String">
                <value>http://nova.astrometry.net/api/</value>
            </setting>
            <setting name="AstrometrynetKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AAVSOFov" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AAVSOLimitMag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MagnificationN" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="FilterDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OBSCODE" serializeAs="String">
                <value />
            </setting>
            <setting name="OBSTYPE" serializeAs="String">
                <value>CCD</value>
            </setting>
        </Stroblhofwarte.Config.Settings>
    </userSettings>
</configuration>